
html, body, main {
	background-color: #2C2C2C;
}

.header {
	background-color: #3A3A3A;
}

.header__title {
	color: #8CC7FF;
}

.header__list li {
	color: #E9ADFF;
}

.header__list a {
	color: #E9ADFF;
}

.header__avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 20px 10px 20px 0px;
	vertical-align:middle;
}

.posts__img {
	background-color: rgba(0,0,0,0);
	border-radius: 20px;
}

.posts__img img {
	border-radius: 20px;
}

.posts__text {
	color: #F3F3F3;
}

.footer__social a {
	color: #8CC7FF;
}

.card-columns {
  column-count: 2;
  column-gap: 6px;
}

@media (max-width: 10000px) { 
	.card-columns {
		column-count: 4;
	}
}

@media (max-width: 1800px) { 
	.card-columns {
		column-count: 3;
	}
}

@media (max-width: 1100px) { 
	.card-columns {
		column-count: 2;
	}
}

@media (max-width: 700px) { 
	.card-columns {
		column-count: 1;
	}
}

/* https://stackoverflow.com/questions/18622508/bootstrap-3-and-youtube-in-modal */
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {

}